.getInTouchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    gap:10px;
    color: white;
    background-color: rgba(6, 39, 84);
    border-top: 2px solid rgb(135, 135, 135);
}

.heading{
    font-size: 2rem;
    text-transform: uppercase;
}
.details{
    font-size: 1.2rem;
    text-align: center;
}

.madeby{
    display: flex;
    padding: 2%;
    width: 30%;
    justify-content: center;
    align-content: center;
}

.username{
    padding:2%;
    padding-inline:4%;
    
    border-radius: 25px;
    color: black;
    font-weight: 600;
}

.invert{
    filter: invert();
}

@media (max-width:768px) {
    
}