.headersection {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;

    width: 100%;
    /* background-color: rgba(173, 163, 134,0.5); */
    font-weight: 500;
    position: absolute;
    z-index: 2;




}

.navbar {
    display: flex;
    width: 40%;
    justify-content: space-evenly;


}

.navbar>p {
    font-size: 1.2rem;
    font-weight: 100;

}

.navbar>p>a {
    text-decoration: none;
    color: black;
}

.progress_container {
    width: 100%;
    background-color: transparent;
    border-radius: 25px;

    overflow: hidden;
    /* box-shadow: 0 4px 6px rgba(117, 101, 216, 0.1); */
    position: absolute;
}

.progress_bar {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    animation: loadAnimation 7s forwards infinite;
}

.navbar_dropdown {
    height: 30px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
.username>a{
    text-decoration: none;
    color: black;
    font-weight: 700;

}
@keyframes loadAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (max-width:768px) {
    .headersection {
        padding-inline: 4%;
    }

    .navbar {
        width: 80%;
        padding: 15%;
       
        top: 0;
        right:10;
        position: absolute;
        flex-direction: column;
        align-content: center;
        background-color: rgba(232, 180, 180, 0.9);

        border-radius: 25px;
    }

    .navbar>p {
        font-size: 1rem;
        margin: 5%;
        width: 100%;
        letter-spacing: 0.4cap;
    }
}